[package]
edition = "2024"
name = "rs-httpbin"
rust-version = "1.85"
version = "0.1.0"

[dependencies]
axum = {version = "0.8", default-features = false, features = ["http2", "tower-log", "matched-path", "ws"]}
axum-client-ip = "0.7.0"
axum-extra = {version = "0.10.0", features = ["typed-header", "erased-json", "query", "cookie"]}
axum-valid = {version = "0.23.0", default-features = false, features = ["garde", "extra_query"]}
base64 = "0.22"
derive_more = {version = "2.0.1", features = ["deref_mut", "deref"]}
fastrand = "2"
form_urlencoded = "1.2.1"
futures-util = "0.3.31"
garde = {version = "0.22", features = ["derive"]}
hostname = "0.4.0"
humantime-serde = "1"
indoc = "2"
markdown = "1.0.0-alpha.23"
mime = "0.3"
minijinja = "2"
multer = "3"
serde = {version = "1", features = ["derive"]}
serde_json = "1"
socketioxide = {version = "0.16", features = ["extensions", "state"]}
tokio = {version = "1.43", features = ["rt-multi-thread", "signal"]}
tokio-stream = "0.1"
tower = "0.5"
tower-http = {version = "0.6", features = ["trace", "cors", "compression-full", "set-header", "request-id", "util", "decompression-full"]}
tracing = "0.1"
tracing-subscriber = {version = "0.3", default-features = false, features = ["env-filter", "json", "fmt"]}
uuid = {version = "1.15", features = ["v4", "serde"]}

[dev-dependencies]
anyhow = "1"
http-body-util = "0.1"
hyper-util = {version = "0.1", features = ["client-legacy"]}
test-case = "3"
tokio-tungstenite = "^0.26"

[profile.release]
codegen-units = 1 # Reduce the number of codegen units to improve optimization.
lto = true 
opt-level = "s" # Optimize for size.
strip = true # Automatically strip symbols from the binary.

[features]
default = []

[patch.crates-io]
state = {git = "https://github.com/zuisong/state", branch = "loom-as-dev-dep", version = "0.6.0", public = true}
